@import 'utilities';
@import 'mixin';

body{
    font-family: 'Open Sans';
    color: #595959;
    margin: 0;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.centralizer{
    max-width: 1024px;
    margin: auto;
}



////////////////////////////////
//main

main{
    display: none;
    @include respond(mobile) {
       display: block;
     }
            .centralizer{
                position: relative;

                div{
                    float: left;
                    background: #00477e;
                    width: 47px;
                    height: 37px;
                    position: relative;
            }

                input{
                float: right;
                width:82%;
                height: 31px;
                }

            span{
                position: absolute;
                top: 0;
                right: 0;
                background: #55ba47 url(../images/search.png) right center no-repeat;
                padding: 18px 3px 18px 38px;
                color: #fff;
                width: 42px;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
            }
        }

}
.nav{
    display: none;
}

@include respond(mobile) {

        .nav__btn{
            top: 16px;
            left: 13px;
            &,
            &::before,
            &::after{
                position: absolute;
                z-index: 10;
                content: '';
                width: 20px;
                height: 2px;
                background: #fff;
                -webkit-transition: 0.2s;
                transition: 0.2s;
            }

            &::before{
                top: -6px;
                right: 0;
            }

            &:hover::before{
                top: -8px;
            }
            &::after{
                top: 6px;
                right: 0;
            }
            &:hover::after{
                top: 8px;
            }
        }
        
        .nav:checked ~ nav {
            opacity: 1;
            visibility: visible;
        }

         .nav:checked + label > .nav__btn{
            background: transparent;
        }
        .nav:checked + label > .nav__btn::before {
            display: block;
            top: 0;
            -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
        }
        .nav:checked + label > .nav__btn::after {
            display: block;
            top: 0;
            -webkit-transform: rotate(-135deg);
                    transform: rotate(-135deg);
        }
    }


/////////////////////////////
//Header

header{
    .centralizer{

        .logo{
            float: left;
            margin: 18px 10px 0 32px;

            @include respond(mobile) {
                float: none;
                text-align: center;
                margin: 10px 0;
             }

            
        }

        .search{
            float: right;

                    div{
                        float: right;
                        p{
                            float: left;
                            font-size: 13px;
                            margin-top: 12px;
                            margin-right: 18px;

                            @include respond(mobile) {
                                display:block;
                                
                             }

                            @include respond(mobile) {
                                display: none;
                             }
                        }
                            input{
                                background: #55ba47 url(../images/search.png) right center no-repeat;
                                height: 36px;
                                padding-left: 40px;
                                border: 0;
                                color: #fff;
                                width: 36px;
                                text-indent: -4px;
                                -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                -webkit-transition: .5s;
                                transition: .5s;
    
                                &:focus{
                                    width: 88px;
                                }

                                @include respond(tab) {
                                    margin-right: 20px;
                                 }

                                 @include respond(mobile) {
                                    display: none;
                                    
                                 }
                            
                        }
                    }
            .supply{
                display: block;
                margin: 66px 0 0 0;
                padding: 0;
                font-weight: lighter;
                font-size: 29px;
                color: #81c979;

                @include respond(mobile) {
                    display: none;
                    
                 }
            }
        }
    }
}


/////////////////////////////
//nav 
nav{
    margin-top: 32px;
    background-color: #002d5b;

    @include respond(mobile) {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
     }

    .centralizer{
        
        a{
            font-family: 'Open Sans';
            color: #fff;
            font-weight: bold;
            font-size: 17px;
            text-transform: uppercase;
            text-decoration: none;
            height: 46px;
            line-height: 46px;
            -webkit-transition: all .5s;
            transition: all .5s;

            @include respond(mobile) {
                display: block;
                width: 100%;
             }
             &:first-child{
                @include respond(mobile) {
                    margin-left: 18px;
                 }
             }

            &:not(:first-child){
                margin-left: 66px;

                @include respond(tab) {
                    margin-left: 18px;
                 }

            }

            &.active{
                background: #57ba49;
                padding:11px 30px 12px 30px;

                @include respond(tab) {
                    padding:11px 12px 12px 12px;
                    margin-left: 10px;
                 }
                 @include respond(mobile) {
                    display: block;
                    width: 100%;
                    padding: 0 0 0 10px;
                    margin: 0;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;

                 }
            }
            &:hover{
                color: #81c979;
            }

             &:last-child{
                @include respond(tab) {
                    margin-left: 18px;
                 }
             }
        }
    }
}

/////////////////////
//Banner
.banner{
    background:  url('../images/bg-banner.jpg');
    background-size: 100%;

    @include respond(tab) {
        background: url('../images/bg-768px.jpg');
        background-size: cover;

     }

       &__left{
           width: 24%;
           float: left;
           @include respond(tab) {
            width: 40%;
         }

         @include respond(mobile) {
            width: 100%;
            margin-bottom: 12px
         }
           div{
               border-bottom: 1px solid #053b5b;
               padding: 32px 0;

               &:hover{

                    background: #00518a;

                    
               }

               @include respond(tab) {
                padding: 47px 0 47px 53px;
             }

             @include respond(mobile) {
                padding: 12px 0 12px 17px;
             }
             

               &:last-child{
                   border: none;
               }

                h3{
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: lighter;
                    margin:0 0 0 10px;
                    padding: 0;

                    &:last-child{
                        margin: 0 0 0 20px;
                    }
                }
                >div{
                    display: inline-block;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    border: none;

                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                  
                }
            }

           }
       }

       &__right{
           float: left;
           background:  #005497;
           width: 76%;
           padding:16px 16px 0 16px;
           -webkit-box-sizing: border-box;
                   box-sizing: border-box;
           margin-bottom: 16px;

           @include respond(tab) {
                    width: 60%;
                    padding: 12px;
                }
           .left-side-banner{  
            @include respond(tab) {
               margin-left: 12px !important;
            }
            @include respond(mobile) {
                &{
                    span{
                        line-height: 50px !important;
                    }
                }
             }
        }

           

         @include respond(mobile) {
            width: 100%;
            display: block;
            text-align: center;
         }

         .clearfix::after{
             
            @include respond(tab) {
                display: inline-block;
            }
         }

         
                    .bottom{
                        @include respond(tab) {
                        margin: 10px 0;
                        }
                        @include respond(mobile) {
                                span{
                                    line-height: 50px !important;
                                }
                            }
                    }
                >div{
                    width: 31.9%;
                    float: left;
                    margin-bottom: 16px;

                    @include respond(tab) {
                        width: 48%;
                        margin: 0px;
                     }

                     @include respond(mobile) {
                        width: 47.9%;
                     }

                    &:first-child,&.featured,&.clean{
                        position: relative;

                        span{
                            width: 100%;
                            text-align: center;
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            font-weight: lighter;
                            background: #63ba47;
                            color: #fff;
                            cursor: pointer;
                            position: absolute;
                            left:0;
                            bottom: 0;
                            -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    
                            @include respond(tab) {
                                width: 100%;
                                }

                                @include respond(mobile) {
                                    width: 100%;
                                    font-size: 16px;
                                    line-height: 21px;
                                 }
                        }
                    }
                    

                    img{
                        width: 100%;
                        
                       
                    }

                    &.middle{
                        position: relative;
                        margin:  0 15px;

                        @include respond(tab) {
                            margin:  0;
                            }

                        span{
                            width: 100%;
                            text-align: center;
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            font-weight: lighter;
                            background: #63ba47;
                            color: #fff;
                            cursor: pointer;
                            position: absolute;
                            left:0;
                            bottom: 0;
                            -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                            
                                @include respond(tab) {
                                    width: 100%;
                                }

                                @include respond(mobile) {
                                    width: 100%;
                                    font-size: 16px;
                                 }
                        }
                    }
                    &:last-child{
                        position: relative;

                        span{
                            width: 100%;
                            text-align: center;
                            height: 50px;
                            line-height: 50px;
                            font-size: 20px;
                            font-weight: lighter;
                            background: #63ba47;
                            color: #fff;
                            cursor: pointer;
                            position: absolute;
                            left:0;
                            bottom: 0;
                            -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                            
                            @include respond(tab) {
                                width: 100%;
                            }

                            @include respond(mobile) {
                                width: 100%;
                                font-size: 16px;
                             }
                        }
                    }
                }

        
       }

       .centralizer{
           padding-top: 10px;

           @include respond(mobile) {
            padding: 0;
        }
       }


}


///////////////////
// Section
section{
    margin-top: 48px;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;

    .centralizer {
        position: relative;
        z-index: 2;

        .supply{
            display: none;
            margin: 66px 0 0 0;
            padding: 0;
            font-weight: lighter;
            font-size: 29px;
            color: #81c979;

            @include respond(mobile) {
                display: block;
                text-align: center;
             }
        }
    }

    // position: relative;
    // z-index: 10;
    // border-radius: 40%;


    &:before, &:after {
        content: 'asdfadf';
        // border-bottom: 10px solid #4ca840;
        position: absolute;
        background: #52b244;;
        width: 200%;
        height: 400px;
        left: 50%;
        bottom: 0;
        border-radius: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        z-index: 1;
        border: 10px solid #004e82;
    }

    &:after {
        background: #fff;
        bottom: 21px;
        border: none;
    }


   .ipp{
       float: left;
       margin-left: 46px;
       width: 25%;
       position: relative;

       @include respond(tab) {

        margin-left: 30px;
     }

     @include respond(mobile) {
        width: 100%;
        float: none;
        display: block;
     }

       h1{
           text-transform: uppercase;
           color: #595959;
           font-size: 18px;
       }

       .owl-dots{
        position: absolute;
        top: -49px;
        left: 98px;
        content: '';
    }
       div{
       
           
           > div{
                margin-top: 20px;

                >div{
                    margin: 0;
                    display: block;
                    
                    h3{
                        font-size: 16px;
                        color: #005b94;
                        font-weight: normal;
                        letter-spacing: 0;
                        
                    }

                    p{
                        line-height: 15px;
                        letter-spacing: 0;
                    }
                }
                img{
                    display: inline-block !important;
                    vertical-align: middle;
                    margin-left: 4px;
                    width: auto !important;
                }
            }
       }

       a {
            display: block;
            text-decoration: none;
            color: #d6d6d6;
            font-weight: bold;
            font-size: 13px;
            margin-top: 16px;

        .hover {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            position: relative;
            top: 0;
            left: 0;
        }

        &:hover .hover {
            left: 10px;
        }
    }

    

   }
   .newletter{
    float: left;
    margin: 0 75px;
    width: 25%;

    @include respond(tab) {

        margin: 0 81px;
     }

     @include respond(mobile) {
        float: none;
        display: block;
        width: 80%;
        margin:10px 0 0 30px;
        padding: 30px 0;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
     }

        h1{
            color: #595959;
           font-size: 18px;
           @include respond(mobile) {
            font-size: 16px;
         }
        }
        p{
            font-size: 13px;
            margin-top: 17px;
            line-height: 15px;
        }

        div{

        width: 100%;
            input{
                padding: 11px;

                @include respond(tab) {
                    padding: 9px;
                    width: 70%;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                 }
               
            }

            .arrow{
                display: inline-block;
                background: #55ba47;
                width: 42px;
                height: 42px;
                position: relative;
                content: '';
                top: 16px;
                left: -6px;

                @include respond(tab) {
                    width: 39px;
                    height: 39px;
                    top: 15px;
                 }

                &::before{
                    border-left: 10px solid #fff;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    position: absolute;
                    content: '';
                    right: 14px;
                    top: 11px;
                }
                &::after{
                    border-left: 10px solid #55ba47;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    position: absolute;
                    content: '';
                    right: 16px;
                    top: 11px;
                }
            }

        }
    }  
    .testiminial{
        float: right;
        width: 25%;
        margin-right: 60px;
        position: relative;
        @include respond(tab) {
        
            margin-right: 0;
         }

         @include respond(mobile) {
            float: none;
            width: 60%;
            display: block;
            margin:60px 0 0 30px;
         }

        .owl-dots{
            position: absolute;
            top: -29px;
            right:5px;
            content: '';
        }

        h1{
            color: #595959;
            font-size: 18px;
            @include respond(mobile) {
                font-size: 16px;
             }
        }
        p{
            font-size: 13px;
            margin-top: 17px;
            line-height: 15px;
            font-style: italic;
        }
    } 
}

///////////////
//Footer
footer{
    background: #005992;
    overflow: hidden;
    padding-top: 100px;
    margin-top: -30px;

    @include respond(tab) {
       padding-top: 30px;

     }
    

    .centralizer{

        p{
            float: left;
            font-size: 13px;
            font-weight: bold;
            color: #fff;
            margin: 35px 0 0 0;
            padding: 0;

            br{
                display: none;

                @include respond(mobile) {
                    display: block;
     
                  }
            }

            @include respond(tab) {
                margin: 30px 0 0 20px;

             }

             @include respond(mobile) {
               float: none;
               display: block;
               text-align: center;

             }

             .slas-span{
                @include respond(tab) {
                    display: none;
                    
                 }
             }
    
            span{
                
                color: #53b445;

                @include respond(tab) {
                    display: block;
                    margin-left: -15px;
                    margin-top: 10px;
                 }
                &:first-child{
                    margin-left: 24px;


                }
    
                a{
                    margin: 0 17px;
                    color: #53b445;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: normal;

                    @include respond(mobile) {
                        display: block;
                        line-height: 23px;
                      }
                }

                @include respond(mobile) {
                    small{
                        display: none;
                    }
                  }
            }
        }
        .social-links{
            float: right;
            margin: 20px 0 0 0;

            @include respond(tab) {
                margin: 30px 20px 0 0;
             }

             @include respond(mobile) {
               float:none;
               display: block;
               text-align: center;
               margin:23px 0 0 0;
             }
    
            .social{
                float: right;
                margin: 0;

                @include respond(mobile) {
                    float:none;
                  }

                a{
                    color: #fff;
                    text-decoration: none;
    
                    .fa-facebook{
                        font-size: 26px;
                    }
                    &:not(:first-child){
                        margin-left: 30px;
                    }

                    &:hover{
                        color: #55ba47;
                    }
                }
            }
            p{
                display: block;
                margin: 53px 0 60px 0;
                float: none;
                opacity: .4;
                text-transform: uppercase;

                @include respond(tab) {
                    margin: 43px 0 50px 0;
                 }

                 @include respond(mobile) {
                   display: none;
                 }



                

                img{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;
                    
                }

            }
        }

        .dev{
            display: none;
            margin: 28px 0 20px 0;
            float: none;
            opacity: .4;
            text-transform: uppercase;

             @include respond(mobile) {
               color: #55ba47;
               display: block;
             }



            

            img{
                display: inline-block;
                vertical-align: middle;
                margin-left: 4px;
                
            }

        }
    }
   
}
